
<div class="uk-grid">
    <div class="my-friends-header uk-container uk-text-center">My Friends</div>

    <div id="friends-dashboard">
        <%= render partial: 'friends_dashboard' %>
    </div>
    <hr>

    <div class="send-invite">SEND AN INVITE
        <div class="uk-form">
        <%= form_tag friends_invite_path, id: 'invite-form' do %>
            <div class="uk-form-row">
                <div class="uk-form-controls">
                    <%= text_field_tag :name %>
                </div>
            </div>
            <div class="uk-form-row">
                <div class="uk-form-controls">
                    <%= submit_tag "Send Invite", :class => "uk-button uk-button-primary" %>
                </div>
            </div>
        <% end %>
        </div>
    </div>

</div>