

<div class="uk-grid">
    <div class="uk-container-center" id="my-calendar">MY CALENDAR</div>

    <div class="uk-container uk-container-center">
      <div id="cal-div" class="uk-container">
    <div id='calendar' ></div>
      </div>
    </div>
</div>