THIS IS THE HOST EVENTS PAGE

<% if @current_user.status %>
<!-- <div class="uk-grid"> -->
    <% @events.each do |event| %>
    <div class="each-host-event uk-container">
      <%= cl_image_tag event.image %>
      <a href="/events/<%=event.id%>"><%= event.name %></a>
      <a href="<%= event.link %>">LINK</a>

    </div>
    <% end %>
<!-- </div> -->
<% else %>
    Your status is pending
<% end %>