THIS IS THE HOST EVENTS PAGE

<!-- <div class="uk-grid"> -->
    <% @events.each do |event| %>
    <div class="each-host-event uk-container">
      <img src=<%= event.image %>>
      <a href="/events/<%=event.id%>"><%= event.name %></a>
      <a href="<%= event.link %>">LINK</a>

    </div>
    <% end %>
<!-- </div> -->