<%= render "events/form" %>

<div class="uk-grid">
  <div class="uk-container uk-container-center">
  <%= form_tag import_events_path, html:{:class=>"uk-form uk-form-stacked"}, multipart: true do %>
    <div class="uk-form-row">
      <div class="uk-form-controls">
        <div id="upload-drop" class="uk-placeholder uk-text-center">
            <i class="uk-icon-cloud-upload uk-icon-medium uk-text-muted uk-margin-small-right"></i> Upload Events by dropping a Csv or Excel file here or
            <a class="uk-form-file"><%= file_field_tag :file, id: "upload-select", value: "select one" %>select one</a>.
        </div>
        <div id="progressbar" class="uk-progress">
            <div class="uk-progress-bar" style="width: 0%;">0%</div>
        </div>
      </div>
    </div>
    <div class="uk-form-row">
        <div class="uk-form-controls">
            <%= submit_tag "Submit", :class=>"uk-button uk-button-primary" %>
        </div>
    </div>
    <% end %>
</div>
</div>