<%= render "events/form" %>

<div class="uk-grid">
  <div class="uk-container uk-container-center">
  <%= form_tag import_events_path, :class=>"uk-form uk-form-stacked", id: "import-form", multipart: true do %>
    <div class="uk-form-row">
      <div class="uk-form-controls">
            <div id="upload-file-header">UPLOAD EVENTS VIA .CSV FILE</div>
        <div id="upload-drop" class="uk-placeholder uk-text-center">
            <i class="uk-icon-cloud-upload uk-icon-medium uk-text-muted uk-margin-small-right"></i> Upload Events by dropping a Csv or Excel file here or
            <a class="uk-form-file"><%= file_field_tag :file, id: "upload-select", value: "select one" %>select one</a>.
        </div>
        <div id="progressbar" class="uk-progress uk-hidden">
            <div class="uk-progress-bar" style="width: 0%;">0%</div>
        </div>
      </div>
    </div>
    <div class="uk-form-row">
        <div class="uk-form-controls">
            <a href="#loading-modal" data-uk-modal class="uk-button uk-button-primary import-form-btn">Submit</a>
            <%# submit_tag "Submit", :class=>"uk-button uk-button-primary" %>
        </div>
    </div>
    <% end %>
</div>
</div>

<div id="loading-modal" class="uk-modal">
    <div class="uk-modal-dialog uk-text-center">
        <div class="loading-text">Importing please wait...</div>
        <i class="uk-icon-large uk-icon-spinner uk-icon-spin loading-icon"></i>
    </div>
</div>