

<div class="uk-grid">
    <div class="uk-container-center" id="my-calendar" data=<%=@first_date%>>OUR <%= @festival.name.upcase %> CALENDARS</div>

    <div class="uk-container uk-container-center">
      <div id="cal-div" class="uk-container">
        <div id='calendar' ></div>
      </div>
    </div>
</div>

</div>

<div id="hidden-data" data=<%= @festival.id %>>