

<div class="uk-grid">
    <div class="uk-container-center" id="my-calendar" data=<%=@first_date%>>OUR <%= @festival.name.upcase %> CALENDARS</div>

    <div id="cal-key">
	    
	    <div id="your-cal"><div id="my-swatch"></div><div class="cal-text">YOUR CALENDAR</div></div>
	    <div id="friend-cal"><div id="your-swatch"></div><div class="cal-text">YOUR FRIEND'S CALENDAR</div></div>
    </div>

    <div class="uk-container uk-container-center">
      <div id="cal-div" class="uk-container">
        <div id='calendar'	></div>
      </div>
    </div>
</div>

</div>

<div id="hidden-data" data=<%= @festival.id %>>