<%# javascript_include_tag 'textillate' %>

<div class="uk-grid">
    <div class="home-img uk-container uk-container-center uk-width-small">
      <div class="uk-container-center" id="title">FSTVL</div>
      <div class="uk-container uk-container-center uk-width-large-1-1" id ="slogan">
           <div id="your-personal">
              YOUR PERSONAL
           </div>

           <div id="conference" class="uk-container-center">
              CONFERENCE | FESTIVAL | CONVENTION
           </div>

           <div id="companion">
              COMPANION
           </div>

           <!-- <iframe width="250" height = "200" src="https://www.youtube.com/embed/aa5F4rEWWR4">

           </iframe> -->


      </div>
        <div id="signup-modal" class="uk-modal">
        <div class="uk-modal-dialog">
            <a class="uk-modal-close uk-close"></a>
              <div id="form-container" class="uk-container uk-container-center"></div>
        </div>
      </div>
    </div>
</div>
