<div class="uk-grid">

<div class="uk-text-center uk-container uk-container-center page-div">


  <div id = "festival-search uk-container uk-container-center">
        <div class="uk-text-center festival-filter-header">
        SEARCH FESTIVALS
        </div>
    <form class="uk-search filter-form uk-container uk-container-center" data-uk-search>
        <input id="festival_filter" class="uk-container uk-container-center uk-search-field" type="search" placeholder="">
    </form>
  </div>
  <div id="festival-field" class="uk-container uk-container-center uk-text-center" data-uk-grid>

      <% @festival_details.each do |detail| %>
       <div class="each-festival uk-width-1-4" data-tags="<%= detail[:tags] %>">
        <div class="grid">
         <figure class="effect-marley festival-block">
          <%= cl_image_tag detail[:image], :class => 'festival-img uk-width-1-4', width: "280", height: "280", crop: :fill %>
          <figcaption>
            <div class="name">
            <%= link_to detail[:name], festival_path(detail[:id]), :class => 'festival-name' %><br>
            <span class="location"><%= detail[:location] %></span>

            </div>
            <!-- <p class="location"></p> -->

          </figcaption>
         </figure>
        </div>
       </div>

      <% end %>
  </div>
</div>

</div>