MY FESTIVALS PAGE

<% @festivals.each do |fest| %>
<div class="each-festival">
    <div class="name"><%= link_to fest.name, festival_path(fest.id) %></div>
    <div class="location"><%=fest.location%></div>
    <div class="image"><%= cl_image_tag fest.image, width: "280", height: "280", crop: :fill%></div>
</div>
<% end %>