#my-calendar {
  font-size:45px;
  margin-top:50px;
  max-width:90%;
  text-align:center;
  margin-bottom:30px;
  line-height:100%;

}

#calendar {
  margin-top:60px;
  font-weight:200;
}

div.fc-left h2 {
  font-family: 'Quicksand', sans-serif;
  font-size: 35px;

}

.fc-today-button {
  display:none;
}

.fc-day-header {
  font-size:30px;
  font-weight:300;
}



tr .fc-day-header {
  padding-top:12px;
  height:35px;

}



.my-event {
  margin-right: 0;
  width:50%;
}

.friend-event {
  margin-left: 0;
  width: 50%;
}