/*CREATE NEW EVENT PAGE*/

#create-event-header {
  margin-top:60px;
  margin-bottom:40px;
  font-size:40px;
}

#event_name {
  width:100%;
  margin-top: 6px;
}

.uk-dropdown-scrollable li.uk-active a{
  background-color: rgb(97,3,69);
}

.uk-datepicker-table a.uk-active {
  background-color: rgb(97,3,69);

}



/*INDIVIDUAL EVENT SHOW PAGES*/

.event-img {
  margin-top: 40px;
  width: 320px;
  height:250px;
  border-radius: 5px;
}

.event-name {
  display:inline;
  font-size: 40px;
  margin-top: 100px;

}

.event-headings {
  display:inline;
}

/*HOST EVENT PAGE*/

.each-host-event {
  border:3px solid rgb(44,44,46);
  width: 40%;
  border-radius: 5px;
  margin-left:5px;
  margin-right:5px;
  margin-top:5px;
  margin-bottom:5px;
  display:inline-block;

}

.each-host-event:hover {
  opacity:0.7;
}

.host-event-field {
  display:inline;
  width:90%;
}

#host-event-header {

  font-size:55px;
  margin-top:60px;
  margin-bottom:30px;
  height: 50px;
}

a.host-event-name {
  width:46%;
  font-size:26px;
  float:right;
  margin-top:35px;
  color:rgb(44,44,46);
  text-align:center;
  margin-right:3px;
}

a.host-event-name:hover {
  text-decoration:none;

}

a.host-event-img {
  float:left;
}

/*EVENTS SHOW PAGE - EACH EVENT*/

.each-event-name {

  font-size:60px;
  float:right;
  margin-top:50px;
}

.event-link {
  background-color:rgb(6,22,62);
  color:rgb(129,239,188);
  text-shadow:none;
  float:right;
  /*margin-right:192px;*/
  /*margin-top:-58px;*/
  margin-bottom:10px;
}

div.comment-author{
  margin-top:5px;
  margin-left:5px;
}

div.comment-text{
  margin-left:5px;
  margin-top:5px;
  margin-bottom:5px;
}

#comment_body{
  margin-top:20px;
}

.event-link:hover {
  background-color:rgb(129,239,188);
  color:rgb(6,22,62);
  font-weight:600;
}

.each-host-event-show {
  border-right: 2px solid rgb(44,44,46);
  border-left: 2px solid rgb(44,44,46);
}

.event-image {

  width:38%;
  margin-top:50px;
  border-radius:5px;

}

.event-desc {

  font-size:16px;
  margin-top:30px;
  margin-bottom:30px;
}

.event-video {
  /*border:2px solid green;*/
  width:39%;
  float:right;
  margin-right:28px;
}

.event-purchase {

  background-color:rgb(6,22,62);
  color:rgb(129,239,188);
  text-shadow:none;
  float:right;
  /*margin-top:-58px;*/
  margin-bottom:10px;
  margin-right:8px;
}

.event-purchase:hover {
  background-color:rgb(129,239,188);
  color:rgb(6,22,62);
  font-weight:600;
}

.comment-field {
  border:2px solid rgb(44,44,46);
  border-radius:5px;
  width:50%;
}

.event-edit-btn {
  background-color:rgb(6,22,62);
  padding:8px;
  border-radius:5px;
}

a.uk-icon-pencil:hover {

  color:rgb(129,239,188);
}

.event-dates {
  border: 3px solid rgb(44,44,46);
  border-radius:5px;
  margin-top:-180px;
  margin-bottom:10px;
  width:42%;
  float:right;


}

.each-date {
  list-style:none;
  font-size:18px;
}

#dates-header {
  font-size:26px;
  margin-top:10px;
  border-bottom:2px solid rgb(44,44,46);
  padding-bottom:-3px;
  padding-left:25px;
}

#event-comment-header {
  border-bottom:2px solid rgb(44,44,46);
  font-size:24px;
  padding-bottom:-3px;
  margin-top:30px;
}

.comment-submit-btn {
  color:rgb(129,239,188);
  background-color:rgb(6,22,62);
  text-shadow:none;
}

.comment-submit-btn:hover {
  color:rgb(6,22,62);
  font-weight:600;
  background-color:rgb(129,239,188);
}




#upload-file-header {
  font-size:30px;
}

