/*FESTIVAL SEARCH PAGE*/

.image {
  width:200px;
  height:200px;
}

.festival-img {
  width:100%;
  height:100%;
  margin: 0 auto;
}

#festival-field {

  width:100%;
  /*background-color:rgb(129,239,188);*/
  margin: 0 auto;

}

.each-festival {
  width:250px;
  height:250px;
  display:inline-block;
  margin-left:5px;
  margin-right:5px;
  padding: 10px;
  text-align:center;
  /*background-color:rgb(129,239,188);*/


}

.each-festival img {
  width:250px;
  height:250px;
  background-color:white;
  border: 6px solid rgb(44,44,46);
  opacity: 0.8;
  padding: 10px;
}


figure {
  width:10%;
}

figure.effect-marley figcaption {
  margin-right:0;
  margin-left:30px;
}

.grid figure figcaption, .grid figure figcaption > a {

  width:79% !important;
  height:75% !important;
  margin-left:34px;
}

.grid figure figcaption, .grid figure figcaption > a {
  opacity:0;
}



.uk-search-field {

  border: 2px solid rgb(44,44,46);
  width: 250px;
  height: 24px;
  font-size: 18px;
  border-radius:5px;

}

.filter-form {
  /*width:250px;*/
  margin-top:20px;
}

.grid figure img {
  opacity:1;
}

.festival-filter-header {
  margin-left:10px;
  font-size:50px;
  margin-top:60px;
  margin-bottom:20px;
}


.page-div {
  width:100%;
}

/*EVENT FILTER PAGE*/


#event-filter-header {
  text-transform:uppercase;
  font-size:45px;
  margin-top:60px;
  margin-bottom:20px;
  line-height:100%;
}

#event-filter-field {
  display:inline;
  width:90%;
}

.each-event {
  border: 3px solid rgb(44,44,46);
  width:40%;
  border-radius:5px;
  border-radius: 5px;
  margin-left:5px;
  margin-right:5px;
  margin-top:5px;
  margin-bottom:5px;
  display:inline-block;
}

.event-filter-img {
  float:left;
}

.event-filter-img:hover {
  opacity:0.8;
}

.event-page.div {
  width:100%;

}

.uk-icon-remove,.uk-icon-plus {

  background-color:rgb(44,44,46);
  color:rgb(120,329,188);
  text-shadow:none;
}

.del-btn,.add-btn {
  padding-top:8px;
  float:right;
  margin-top:9px;
  margin-left:3px;

}

.add-btn:hover {
  background-color:rgb(120,329,188);
  color:rgb(44,44,46);
  opacity:0.8;
}

#event_filter {
  margin-bottom:20px;
}

a.event-filter-name {
  font-size:16px;
  color:rgb(44,44,46);
  margin-top:10px;
}

a.event-filter-name:hover {
  text-decoration:none;
  background-color:rgb(120,329,188);
  color:rgb(44,44,46);
}

.view-occurrence {
  list-style: none;
}

.each-event-location {
  font-size:12px;
}


/*MYFESTIVALS*/

#my-festivals-header {
  font-size:80px;
  color:rgb(6,22,62);
  /*text-shadow: 1px 1px 2px rgb(129,239,188);*/
  margin-top:75px;
  float:right;
  height:50px;
  margin-bottom:20px;
  margin-left:40px;

}

.f-image {
  width:100px;
  height:100px;
  margin-left:36px;
  border:3px solid rgb(44,44,46);
  padding:3px;
  border-radius:5px;
}

.f-name {
  margin-top:30px;
  font-size:40px;
  color:rgb(6,22,62);
}

.f-name:hover {
  text-decoration:none;
  opacity:0.8;
}

.each-myfestival {
  margin-top:30px;
}

.view-events {
  margin-top:20px;
  background-color:rgb(6,22,62);
  color:rgb(120,329,188);
  text-shadow:none;
  margin-left:36px;
}

.view-events:hover {
  background-color:rgb(6,22,62);
  color:white;
  font-weight:400;
}

.blurb {
  margin-top:20px;
}

.f-location {
  font-size:36px;
  color:rgb(6,22,62);
  margin-top:15px;
  margin-left:36px;
  margin-bottom:25px;
}





