/*FESTIVAL SEARCH PAGE*/

.image {
  width:200px;
  height:200px;
}

.festival-img {
  width:100%;
  height:100%;
  margin: 0 auto;
}

#festival-field {

  width:100%;
  /*background-color:rgb(129,239,188);*/
  margin: 0 auto;

}

.each-festival {
  width:250px;
  height:250px;
  display:inline-block;
  margin-left:5px;
  margin-right:5px;
  padding: 10px;
  text-align:center;
  /*background-color:rgb(129,239,188);*/


}

.each-festival img {
  width:250px;
  height:250px;
  background-color:white;
  border: 6px solid rgb(44,44,46);
  opacity: 0.8;
  padding: 10px;
}


figure {
  width:10%;
}

figure.effect-marley figcaption {
  margin-right:0;
  margin-left:30px;
}

.grid figure figcaption, .grid figure figcaption > a {

  width:79% !important;
  height:75% !important;
  margin-left:34px;
}

.grid figure figcaption, .grid figure figcaption > a {
  opacity:0;
}



.uk-search-field {

  border: 2px solid rgb(44,44,46);
  width: 250px;
  height: 24px;
  font-size: 18px;
  border-radius:5px;

}

.filter-form {
  /*width:250px;*/
  margin-top:20px;
}

.grid figure img {
  opacity:1;
}

.festival-filter-header {
  margin-left:10px;
  font-size:50px;
  margin-top:60px;
  margin-bottom:20px;
}


.page-div {
  width:100%;
}
