

.image {
  width:200px;
  height:200px;
}

.festival-img {
  width:100%;
  height:100%;
  margin: 0 auto;
}

#festival-field {

  width:90%;

}

.each-festival {
  display:inline-block;
  margin-left:20px;
  margin-right:20px;
  padding: 10px;
  text-align:center;

}

figure {
  width:10%;
}

figure.effect-marley figcaption {
  margin-right:0;
  margin-left:0;
}

.uk-search-field {

  border: 2px solid rgb(44,44,46);
  width: 250px;
  height: 24px;
  font-size: 18px;

}

.filter-form {
  width:250px;
  margin-top:20px;
}
