/*GENERAL*/

body {
  font-family: 'Quicksand', sans-serif;
  font-weight:400;
}

.uk-navbar{
  background-color: rgb(44,44,46);
  color:white;
  border-radius:0;
  height:60px;
}

.uk-navbar-nav li a {
  color:white;
  text-shadow: none;
  font-family: 'Quicksand', sans-serif;
  margin-top: 9px;
}


.uk-navbar-brand, .uk-navbar-content {
  text-shadow: none;

}

#current-user-nav-icon {
  border-radius:50%;
  width:48px;
  height:48px;
  margin-top:-2px;
  margin-right:6px;
}

#current-user-nav-icon:hover {
  border: 2px solid rgb(129,239,188);
}



#hamburger-menu {
  display:none;
  background-color:rgb(44,44,46);
  border-radius:0;
  font-size:20px;

}

.uk-icon-bars {
  color:rgb(129,239,188);
  text-shadow:none;
}

.uk-icon-bars:hover {
  color:white;
}

.uk-navbar-nav {
  font-family: 'Quicksand', sans-serif;

 }

.uk-navbar-brand {
  font-size: 25px;
  text-shadow: white;
  color: rgb(129,239,188);
  margin-top:12px;
 }

.uk-navbar-brand:hover {
  color: white;
}

.uk-navbar-nav li a:hover {
  border: 3px solid rgb(129,239,188);
  background-color:transparent;
  margin-bottom:0;
  color: white;
  border-radius:5px;
}



li .uk-parent:hover {
  background-color:transparent;
  color: rgb(129,239,188);
}

.uk-dropdown {
  background:white;
  border: 2px solid rgb(44,44,46);
}

.uk-navbar-nav li a.sub-nav{
  color:rgb(44,44,46);
  font-weight:600;
}

.uk-navbar-nav li a.sub-nav:hover {
  color: rgb(129,239,188);
  background-color: rgb(44,44,46);
  font-weight:500;
  margin-left:2px;
  margin-right:2px;
  /*border:2px solid rgb(44,44,46);*/
  border-radius:5px;
  border-color: white;

}


.uk-navbar-nav>li.uk-open>a, .uk-navbar-nav>li:hover>a, .uk-navbar-nav>li>a:focus {
  background-color:rgb(44,44,46);
  color:white;
  font-weight:400;
}



.uk-link a {
  color:white;
}

.uk-offcanvas-bar-show {
  background-color:rgb(44,44,46);
}

.uk-nav-offcanvas>.uk-open>a, html:not(.uk-touch) .uk-nav-offcanvas>li>a:focus {
   color: rgb(129,239,188);
}


.alert-message {
  display: none;
}

.uk-notify-message {
  text-align: center;
  width: 100%;
}

.welcome-name {
  padding-right: 10px;

}

.user-menu {
  margin-top: 7px;
}



/*HOME PAGE*/

/*#welcome-back {
  font-size:45px;
  margin-top:70px;
}*/

#title {
  font-size:150px;
  margin-top:180px;
  margin-bottom:80px;
  text-align:center;
  text-shadow: 2px 2px 3px rgb(44,44,46);
}

span.char1, span.char5, span.char3 {
  color:rgb(129,239,188);
}

span.char2 {
  color:rgb(97,37,61);
}

span.char4 {
  color:rgb(6,22,62);
}

.uk-badge {
  background-color:rgb(129,239,188);
  color:rgb(6,22,62);
  margin-right:4px;
}


#your-personal {
  display:inline;
  font-size:18px;
}

#conference {
  display:inline;
  font-size:25px;
  margin-right:10px;
  margin-left:8px;
  text-align:center;
  color: rgb(6,2,76);

}

#companion {
  display:inline;
  font-size:18px;
}

#slogan {
  width:80%;
}






/*LOGIN MODAL*/

.login-with-fb {
  font-size: 22px;
  padding-top:10px;
  padding-bottom: 10px;
  padding-right:10px;
  padding-left:10px;
  background-color: rgb(59,89,152);
  color: white;
  margin-bottom: 10px;
}

.login-with-fb:hover {
  background-color: rgb(59,89,152);
  color:white;
  font-weight:400;
  opacity:0.8;
}

.uk-icon-facebook {
  font-size:45px;
  border:2px solid rgb(59,89,152);
  margin-right: 3px;
  color: rgb(59,89,152);
  padding:4px;
  padding-left:10px;
  padding-right:10px;
  border-radius:5px;
  /*margin-top:20px;*/
}
i .uk-facebook-icon {
  margin-top:10px;
}

.login-btn {
  border-radius:5px;
  font-weight:300;
  background-color:rgb(44,44,46);
  color:white;
  padding-top:5px;
  padding-bottom:5px;
  padding-right:10px;
  padding-left:10px;
  margin-bottom:10px;
}

.login-btn:hover {
  background-color:rgb(129,239,188);
  color:rgb(44,44,46);
  font-weight:600;
  text-shadow:none;

}

.email-input {
  width:70%;
}

.password-input {
  width:61%;
}

#or {
  margin-top:10px;
  font-weight:600;
  font-size:16px;
}

#email-label, #password-label {
  margin-right:4px;
  font-size:16px;
  font-weight:600;
  color: rgb(97,3,69);
}

/*SIGNUP MODAL*/

.invalid-label {
  color:rgb(97,37,61);
  font-weight:600;
}

#user_name, #user_email, #user_password, #user_password_confirmation {
  width:70%;
}

.signup-submit-btn {
  border-radius:5px;
  font-weight:300;
  background-color:rgb(44,44,46);
  color:white;
  padding-top:5px;
  padding-bottom:5px;
  padding-right:10px;
  padding-left:10px;
  margin-bottom:10px;
  margin-top:10px;

}

.signup-submit-btn:hover {
  background-color:rgb(129,239,188);
  color:rgb(44,44,46);
  font-weight:600;
  text-shadow:none;
}

.i-am-host {
  font-size:16px;
  color:rgb(97,37,61);
  font-weight:600;
  margin-bottom:10px;

}

.uk-form-controls>:first-child {
  margin-top:10px;
}
