@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {




  nav {
    display:none;
  }

  #hamburger-menu {
    display:inline-block;
  }




  #title {
    font-size:60px;
  }

  #your-personal {
    margin-left:18px;
  }

  #conference {
    font-size:20px;
    display:block;
  }

  #companion {
    margin-left:18px;
  }

  #slogan {
    display:block;
    text-align:center;
    width:80%;
  }




  #create-event-header {
  margin: 20px auto;
  font-size:25px;

  }


/*HOST EVENTS PAGE*/

#host-event-header {
  font-size:22px;
}

a.host-event-name {
  font-size:10px;
  margin: 0 auto;
  width:80%;
}








}