@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {


  body {
      /*background:red;*/
  }

  nav {
    display:none;
  }

  #current-user-nav-icon-mobile {
    border-radius: 50%;
    margin: -5px 10px -5px 3px;
  }

  #hamburger-menu {
    display:inline-block;
  }


  /*HOME*/

  #title {
    font-size:60px;
  }

  #your-personal {
    margin-left:18px;
  }

  #conference {
    font-size:20px;
    display:block;
  }

  #companion {
    margin-left:18px;
  }

  #slogan {
    display:block;
    text-align:center;
    width:80%;
  }


  /*CREATE NEW EVENT PAGE*/


  #create-event-header {
  margin: 20px auto;
  font-size:25px;

  }


/*HOST EVENTS PAGE*/

#host-event-header {
  font-size:22px;
}

a.host-event-name {
  font-size:10px;
  margin: 0 auto;
  width:80%;
}


/*FESTIVAL SEARCH */


.each-festival img {
  width:120px;
  height:120px;
  margin-top:5px;
  margin-bottom:5px;
  border: 2px solid rgb(44,44,46);
  border-radius:5px;
}






}