<!-- NEW MESSAGE MODAL -->
<% if @current_user && @current_user.user_type == 'consumer' %>
<div id="message-modal" class="uk-modal">
    <div class="uk-modal-dialog">
        <a class="uk-modal-close uk-close"></a>
      <div class="modal-body message-modal-body">
       <%= render partial: 'layouts/modal_friend_list', locals:{friends:@current_user.friends} %>
      </div>
    </div>
</div>
<% end %>